<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_practicaordenpractica_label} :</strong></p></td>
            <td><p>{cd_practicaordenpractica}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_practicaobrasocial_label} :</strong></p></td>
            <td><p>{cd_practicaobrasocial}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_ordenpractica_label} :</strong></p></td>
            <td><p>{cd_ordenpractica}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_cantplacas_label} :</strong></p></td>
            <td><p>{nu_cantplacas}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_repeticiones_label} :</strong></p></td>
            <td><p>{nu_repeticiones}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_informe_label} :</strong></p></td>
            <td><p>{cd_informe}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_movcajaconcepto_label} :</strong></p></td>
            <td><p>{cd_movcajaconcepto}</p></td>
        </tr>
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
