<!-- BEGIN: main -->
<table style="border-top: none;">
    <tr>
        <td align="right">{nu_importe_label}:</td>
        <td align="left">
            $&nbsp;<input type='text' name='nu_importe' id='nu_importe' size='15' value="{nu_importe}"/>
        </td>
    </tr>
    <tr>
        <td align="right">{bl_tarjeta_label}:</td>
        <td align="left">
            &nbsp;<input type='checkbox' name='bl_tarjeta' id='bl_tarjeta' size='15' {checked_bl_tarjeta} value="1" />
        </td>
    </tr>
</table>
<!-- END: main -->