<!-- BEGIN:main -->
<script type="text/javascript">
    $(function() {
        $("#dt_vigencia").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
<div id="editar">
    <div align="justify"><p class="titulo">{titulo}</p></div>

    <!-- BEGIN:msj -->
    <div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msj}
        </p>
    </div>
    <br />
    <!-- END:msj -->

    <form name='editarpracticaobrasocial' id='editarpracticaobrasocial' action='doAction?action={submit}' method='post' onsubmit="return validate('editarpracticaobrasocial');">
        <input type="hidden" readonly name="cd_practicaobrasocial" id="cd_practicaobrasocial" value="{cd_practicaobrasocial}"/>
        <table>
            <tr>
                <td align="right">{cd_practica_label} *</td>
                <td align="left">
                    <select name='cd_practica' id='cd_practica' jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}">
                        <option value="">--Seleccione --</option>
                        <!-- BEGIN: practicas_option -->
                        <option value={cd_practica}>{ds_practica}</option>
                        <!-- END: practicas_option -->
                    </select>
                </td>
            </tr>

            <tr>
                <td align="right">{cd_obrasocial_label} *</td>
                <td align="left">
                    <select name='cd_obrasocial' id='cd_obrasocial' jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}">
                        <option value="">--Seleccione --</option>
                        <!-- BEGIN: obrasociales_option -->
                        <option value={cd_obrasocial}>{ds_obrasocial}</option>
                        <!-- END: obrasociales_option -->
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">{nu_practicaos_label} *</td>
                <td align="left">
                    <input type='text' name='nu_practicaos' id='cd_practicaos' size='40' value="{nu_practicaos}" jVal="{valid:function (val) { return numericoyrequerido(val,'Ingrese un valor numérico.'); }}"/>
                </td>
            </tr>
            <tr>
                <td align="right">{nu_limiterepeticiones_label} </td>
                <td align="left">
                    <input type='text' name='nu_limiterepeticiones' id='nu_limiterepeticiones' size='20' value="{nu_limiterepeticiones}" />
                    <br/>
                    <span class="comentario">(Si no se carga valor significa infinitas repeticiones.) </span>
                </td>
            </tr>
            <tr>
                <td align="right">{nu_importe_label} *</td>
                <td align="left">
                    $&nbsp;<input type='text' name='nu_importe' id='nu_importe' size='10' value="{nu_importe}" jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}"/>
                    <span class="comentario">(Ej.: 39.90) </span>
                </td>
            </tr>

            <tr>
                <td align="right">{dt_vigencia_label} *</td>
                <td align="left">
                    <input type='text' name='dt_vigencia' id='dt_vigencia' size='10' value="{dt_vigencia}" jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}"/>
                </td>
            </tr>

        </table>

        <p style="text-align:center">
            <input type='submit' name='submit' value='Aceptar'/>
            <input type='reset' name='cancelar' value='Cancelar' onclick="javascript:window.location.href= 'doAction?action=listar_practicaobrasociales';"/>
        </p>


    </form>
    <div class="camposRequeridos">(*) Campos requeridos</div>
</div>
<!-- END:main -->
