<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">

        <tr>
            <td style="width:85px;"><p><strong>{cd_practicaobrasocial_label} :</strong></p></td>
            <td><p>{cd_practicaobrasocial}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{cd_practica_label} :</strong></p></td>
            <td><p>{cd_practica}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{cd_obrasocial_label} :</strong></p></td>
            <td><p>{cd_obrasocial}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{nu_practicaos_label} :</strong></p></td>
            <td><p>{nu_practicaos}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_limiterepeticiones_label} :</strong></p></td>
            <td><p>{nu_limiterepeticiones}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{nu_importe_label} :</strong></p></td>
            <td><p>{nu_importe}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{dt_vigencia_label} :</strong></p></td>
            <td><p>{dt_vigencia}</p></td>
        </tr>

    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
