<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">

        <tr>
            <td style="width:85px;"><p><strong>{cd_contacto_label} :</strong></p></td>
            <td><p>{cd_contacto}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_apynom_label} :</strong></p></td>
            <td><p>{ds_apynom}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_documento_label} :</strong></p></td>
            <td><p>{nu_documento}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_cuit_label} :</strong></p></td>
            <td><p>{nu_cuit}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_direccion_label} :</strong></p></td>
            <td><p>{ds_direccion}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_telefono_label} :</strong></p></td>
            <td><p>{ds_telefono}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_movil_label} :</strong></p></td>
            <td><p>{ds_movil}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_telefonotrabajo_label} :</strong></p></td>
            <td><p>{ds_telefonotrabajo}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_email_label} :</strong></p></td>
            <td><p>{ds_email}</p></td>
        </tr>
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
