<!-- BEGIN:main -->
<div id="editar">
	<div align="justify"><p class="titulo">{titulo}</p></div>

	<!-- BEGIN:msj -->
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msj}
		</p>
	</div>
	<br />
	<!-- END:msj -->

	<form name='editartipoconcepto' id='editartipoconcepto' action='doAction?action={submit}' method='post' onsubmit="return validate('editartipoconcepto');">
		
		<table>
			<tr>
				<td align="right">{cd_tipoconcepto_label}:</td>
				<td align="left">
					{cd_tipoconcepto}
					<input type="hidden" readonly name="cd_tipoconcepto" id="cd_tipoconcepto" value="{cd_tipoconcepto}"/>
				</td>
			</tr>
						
			<tr>
				<td align="right">{ds_tipoconcepto_label} *</td>
				<td align="left">
					<input type='text' name='ds_tipoconcepto' id='ds_tipoconcepto' size='40' value="{ds_tipoconcepto}" jVal="{valid:function (val) { return requerido(val,'Ingrese un valor'); }}"/>
				</td>
			</tr>
			
			
			
			
		</table>
		
		<p style="text-align:center">
			<input type='submit' name='submit' value='Aceptar'/>
			<input type='reset' name='cancelar' value='Cancelar' onclick="javascript:window.location.href= 'doAction?action=listar_tipoconceptos';"/>
		</p>
		
		
	</form>		
	<div class="camposRequeridos">(*) Campos requeridos</div>
</div>
<!-- END:main -->
