<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_ordenpractica_label} :</strong></p></td>
            <td><p>{cd_ordenpractica}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{dt_carga_label} :</strong></p></td>
            <td><p>{dt_carga}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_turno_label} :</strong></p></td>
            <td><p>{cd_turno}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_paciente_label} :</strong></p></td>
            <td><p>{cd_paciente}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_profesional_label} :</strong></p></td>
            <td><p>{cd_profesional}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_empleado_label} :</strong></p></td>
            <td><p>{cd_empleado}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_obrasocialbono_label} :</strong></p></td>
            <td><p>{cd_obrasocialbono}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{bl_bono_label} :</strong></p></td>
            <td><p>{bl_bono}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_importebono_label} :</strong></p></td>
            <td><p>{nu_importebono}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_reciboreintegro_label} :</strong></p></td>
            <td><p>{nu_reciboreintegro}</p></td>
        </tr>
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
