<!-- BEGIN: main -->

<div id="editar">
	<div align="justify"><p class="titulo">Alta Usuario</p></div>

	<!-- BEGIN: msj -->
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msj}
		</p>
	</div>
	<br />
	<!-- END: msj -->
	
	<form name='altausuario' id='altausuario' action='doAction?action=alta_usuarioryt' onsubmit="return validate('altausuario');" method='post' autocomplete="off">

		<table>		
			<tr>
				<td align="right">Nombre y Apellido (*):</td>
				<td align="left">
					<input type='text' name='apynom' id='apynom' size='40'
					 jVal="{valid:function (val) { return requerido(val,'Ingrese nombre y apellido'); }}"/>
				</td>
			</tr>
			<tr>
				<td align="right">Nombre Usuario (*):</td>
				<td align="left">
					<input type='text' name='usuario' id='usuario'  size='40'
					 jVal="{valid:function (val) { return requerido(val,'Ingrese un nombre de usuario'); }}"/>
				</td>
			</tr>
			<tr>
				<td align="right">E-mail (*):</td>
				<td align="left">
				<input type='text' name='mail' id='mail'  size='40' 
		 				jVal="{valid:/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/, message:'El e-mail no es v&aacute;lido'}"
                        jValKey="{valid:/[a-zA-Z0-9._%+-@]/, cFunc:'alert', cArgs:['E-mail: '+$(this).val()]}"/>
				</td>
			</tr>
                        <tr>
				<td align="right">Nro. Caja (*):</td>
				<td align="left">
				<input type='text' name='nu_caja' id='nu_caja'  size='40'/>
				</td>
			</tr>
			<tr>
				<td align="right">Tel&eacute;fono:</td>
				<td align="left">
					<input type='text' name='telefono' id='telefono'  size='40'/>
				</td>
			</tr>
			<tr>
				<td align="right">Pa&iacute;s:</td>
				<td align="left">
					<select name='pais' id='pais'>
						<option value=""> -- Seleccione uno -- </option>
						<!-- BEGIN: option_pais -->				
						<option value='{cd_pais}'>{ds_pais}</option>
						<!-- END: option_pais -->
					</select>
				</td>
			</tr>
			<tr>
				<td align="right">Perfil (*):</td>
				<td align="left">
					<select name='perfil' id='perfil'>
						<!-- BEGIN: option -->				
						<option value='{cd_perfil}'>{ds_perfil}</option>
						<!-- END: option -->
					</select>
				</td>
			</tr>
			<tr>
				<td align="right">Contrase&ntilde;a (*):</td>
				<td align="left">
					<input type='password' name='pass' id='pass'  size='25'
					 jVal="{valid:function (val) { return requerido(val,'Ingrese una Contrase&ntilde;a'); }}"/>
				</td>
			</tr>
			<tr>
				<td align="right">Reingrese Contrase&ntilde;a (*):</td>
				<td align="left">
					<input type='password' name='pass2' id='pass2'  size='25'
					jVal="{valid:function (val) { if ( val != eval('$(\'#pass\').val()') ) return false; else return true; }, message:'Las contrase&ntilde;as no coinciden'}"
					/>
				</td>
			</tr>


		</table>

		<p style="text-align:center">
		<input type='submit' name='submit' value='Agregar'/>
		<input type='reset' name='cancelar' value='Cancelar' onclick="javascript:history.back(-1);"/>
		</p>
			
	</form>		
	<div class="camposRequeridos">(*) Campos requeridos</div>
</div>
<!-- END: main -->