<!-- BEGIN: main -->
<div class="divverusuario">
		<div align="justify"><p class="titulo">Detalle de Usuario</p></div>
		<table class="tablaVer">
		<tr>
			<td><p><strong>Nombre y Apellido :</strong></p></td>
			<td><p>{ds_apynom}</p></td>
		</tr>
		<tr>
			<td><p><strong>Nombre Usuario :</strong></p></td>
			<td><p>{ds_nomusuario}</p></td>
		</tr>
		<tr>
			<td><p><strong>E-Mail :</strong></p></td>
			<td><p>{ds_mail}</p></td>
		</tr>
                <tr>
			<td><p><strong>Nro Caja :</strong></p></td>
			<td><p>{nu_caja}</p></td>
		</tr>
		<tr>
			<td><p><strong>Tel&eacute;fono :</strong></p></td>
			<td><p>{ds_telefono}</p></td>
		</tr>
		<tr>
			<td><p><strong>Pa&iacute;s :</strong></p></td>
			<td><p>{ds_pais}</p></td>
		</tr>
		<tr>
			<td><p><strong> Perfil : </strong></p></td>
			<td><p>{ds_perfil} </p></td> 
		</tr>
	</table>
	<p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/>
		
			
</div>
<!-- END: main -->