<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{titulo}</p></div>
    <table class="tablaVer">

        <tr>
            <td style="width:85px;"><p><strong>{cd_email_label} :</strong></p></td>
            <td><p>{cd_email}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_remitente_label} :</strong></p></td>
            <td><p>{ds_remitente}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_destinatario_label} :</strong></p></td>
            <td><p>{ds_destinatario}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{dt_fecha_label} :</strong></p></td>
            <td><p>{dt_fecha}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_asunto_label} :</strong></p></td>
            <td><p>{ds_asunto}</p></td>
        </tr>

        <tr>
            <td style="width:85px;"><p><strong>{ds_cuerpo_label} :</strong></p></td>
            <td><p>{ds_cuerpo}</p></td>
        </tr>
        <tr>
            <td style="width:85px;"><p><strong>{ds_adjuntos_label} :</strong></p></td>
            <td><p>{ds_adjuntos}</p></td>
        </tr>
        
        
    </table>

    <br />
    <p><input type='button' name='volver' value='Volver' onclick="javascript:history.back(-1);"/></p>
</div>
<!-- END:main -->
